{% extends 'base.html.twig' %}

{% block title %}Edit TestProduct{% endblock %}

{% block body %}
    <h1>Edit TestProduct</h1>

    {{ include('test_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('test_product_index') }}">back to list</a>

    {{ include('test_product/_delete_form.html.twig') }}
{% endblock %}
